
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        This is the home page for Patton's fan site.
        <a asp-action="History">Patton's History</a>
        <a asp-action="StoriesForm">Share a story</a>
        <a asp-controller="Sources" asp-action="Sources">View Sources</a>
    </div>
</body>
</html>
