
@{
    Layout = "_Layout";
}

    <div>
        <h1>Patton</h1>
        Patton is a Lipizzan horse born on 3/27/17.
        He is named after George S. Patton who saved
        the Lipizzans from extinction at the end of WWII.
        This is the home page for Patton's fan site. <br />
        <a asp-action="History">History</a>
        <a asp-action="Stories">Stories</a>
        <a asp-action="StoriesForm">Share a story</a>
        <a asp-controller="Sources" asp-action="Sources">View Sources</a>
    </div>


