@model PattonFanSite.Models.StoriesResponse
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>StoriesForm</title>
</head>
<body>
   
            <form class="p-a-1" asp-action="StoriesForm" method="post">
                <div asp-validation-summary="All"></div>
                <div class="form-group">
                    <label asp-for="Name">Your Name:</label>
                    <input class="form-control" asp-for="Name" />
                </div>
                <div class="form-group">
                    <label asp-for="Title">Story Title</label>
                    <input class="form-control" asp-for="Title" />
                </div>
                <div class="form-group">
                    <label asp-for="Date">Story Date</label>
                    <input class="form-control" asp-for="Date" />
                </div>
                <div class="form-group">
                    <textarea class="form-control" asp-for="Story" rows="10" cols="30">
                    </textarea>
                </div>
                <div class="text-center">
                    <button type="submit">
                        Submit Story
                    </button>
                </div>
            </form>
        
</body>
</html>

