@model PattonFanSite.Models.Story
@{
    Layout = "_SimpleLayout";
    ViewBag.BackController = "Home";
    ViewBag.BackPage = "Stories";
    ViewBag.Title = "Thanks";

}
    <div>
        <h1>Thank-you, @Model.Name!</h1>
        <h2>Title: @Model.Title </h2> 
        <h3>Date: @Model.Date</h3>
        <p>@Model.StoryText</p>
    </div>

