@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Books</title>
</head>
<body class="text-center">
    <div>
        Some books about Lipizzans, including WWII and General Patton (who saved them).
    </div>
</body>
</html>
