@model List<Book>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Books</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body class="text-center">
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Description</th>
                    <th>Publication Date</th>
                </tr>
            </thead>
            
            <tbody>
                @foreach (Book b in Model)
                {
                    <tr>
                        <td>@b.Title</td>
                        <td>@b.Author</td>
                        <td>@b.Description</td>
                        <td>@b.PubDate</td>
                    </tr>
                }
            </tbody>
            
        </table>
        
    </div>
</body>
</html>
