@model List<Link>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Online</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body class="text-center">
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>URL</th>
                    <th>Description</th>
                </tr>
            </thead>

            <tbody>
                @foreach (Link l in Model)
                {
                    <tr>
                        <td>@l.Title</td>
                        <td>@l.Url</td>
                        <td>@l.Description</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>