@model List<Link>
@{
    Layout = "_SimpleLayout";
}


    <div class="container">
        <h1 class="text-center">Links</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>URL</th>
                    <th>Description</th>
                </tr>
            </thead>

            <tbody>
                @foreach (Link l in Model)
                {
                    <tr>
                        <td>@l.Title</td>
                        <td><a href=@l.Url>@l.Url</a></td>
                        <td>@l.Description</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
