@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Online</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body class="text-center">
    <div>
        <h3>Links of Interest</h3>
        Here are some interesting links.  USLF, Tempel Lipizzans, Spanish Riding School, ArtToRide, Stud Book, etc.
    </div>
</body>
</html>