
@{
    Layout = "_Layout";
}

    <div>
        <h3>Want to learn more?</h3>
        Here are some places you can go to find out more about Patton and Lipizzan horses.
        <a asp-action="Books">Books</a>
        <a asp-action="Online">Links</a>
    </div>

