<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Send Title Here</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <a asp-controller="Sources" asp-action="Sources">Back to Sources</a>
    @RenderBody()
</body>
</html>
